@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
:root {
  --background: rgba(251, 79, 20, 1);
  --light: rgb(255, 250, 240);
  --borde: 1px solid var(--light);
  --hover: #FDC4B0;
  font-family: Poppins;
}
*, *::after, *::before{
  box-sizing: border-box;
}
/* body {
  background-image: url(//picsum.photos/id/0/5616/3744);
  background-size: cover;
  background-color: #333;
  background-blend-mode: multiply;

  place-items: center;
  height: 200vh;
} */
/* INPUT & LABEL = HAMBURGER*/
input{  
  display: none;
}

label{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  
}

label > span, 
  span::before, 
  span::after{
    display: block;
    height: 4px;
    width: 2em;
    border-radius: 2px;
    background-color: var(--light);
    position: relative;
  }

  label > span::before, 
  span::after{
    content: '';
    position: absolute;
  }

  label > span::before{
    bottom: 10px;
  }

   label > span::after{
    top: 10px;
  }


/*HEADER*/

header {
  top: 0;
  background-color: var(--background);
  text-align: center;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

#header > h1 {
  color: var(--light);
}

#header > nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: var(--background);
  width: 100vw;
  transform: scale(1, 0);
  transition: transform 500ms ease-in;
  transform-origin: top;
  
}

#header > nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#header > nav > ul > li:hover{
  background-color: var(--hover);
}

#header a {
  display: block;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  padding: 2em;
  transition: opacity 150ms ease-in-out;
}

/* ANIMATION CHECKED  */
#header .check:checked ~ nav{
    transform: scale(1,1);
    transition: transform 500ms ease-in-out;
    transform-origin: top;
  }

  #header .check:checked ~ nav a{
    opacity: 1;
    transition: opacity 350ms ease-in-out 350ms; 
  }  


/* -----MEDIAQUERY 800PX tela grande------ */
@media screen and (min-width:800px){
  #header .check-label{
    display: none;
  }

  #header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;  
    top: 0;
  }

  #header h1{
    grid-column: 2 / 1;
  }

  #header > nav{
    all: unset;
    grid-column: 3 / 4;
     
  }

  #header > nav > ul{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  } 

  #header li > a{
    opacity: 1;
    position:relative;
  }

  #header li:hover{
    background-color: initial;
  }
  
/*--- ANIMATION HOVER MENU ---*/
  
  header a::before{
    content:'';
    display: block;
    position: absolute;
    top: 1em;
    left: 0;
    right: 0;
    height: 4px;
    background-color: var(--hover);
    transform: scale(0,1);
    transition: transform 250ms ease-in-out;
  }

  header nav ul li a:hover::before{
    transform: scale(1,1);
  }
}